ENCLAVE_DOMAIN=oob.tudominio.com
ACME_EMAIL=tu@email.com

ROCKETCHAT_VERSION=6.12.0
ROCKETCHAT_ADMIN_USER=rc_admin
ROCKETCHAT_ADMIN_PASS=CAMBIAR_PASSWORD_MUY_FUERTE
ROCKETCHAT_ADMIN_EMAIL=admin@tudominio.com
MONGO_INITDB_ROOT_USERNAME=rcuser
MONGO_INITDB_ROOT_PASSWORD=CAMBIAR_MONGO_PASSWORD

AUTHELIA_JWT_SECRET=CAMBIAR_MINIMO_32_CARACTERES_ALEATORIOS_AQUI
AUTHELIA_SESSION_SECRET=CAMBIAR_OTRO_SECRETO_32_CARACTERES_AQUI
AUTHELIA_STORAGE_ENCRYPTION_KEY=CAMBIAR_CLAVE_CIFRADO_32_CARACTERES

PORTAINER_VERSION=latest
