fase4-breakglass-dc/headscale/lib/
fase4-breakglass-dc/rustdesk/data/

# Velociraptor generated artifacts
*.log
*.tidx

fase5-velociraptor/velociraptor-config/client_info/
fase5-velociraptor/velociraptor-config/logs/
fase5-velociraptor/velociraptor-config/server_artifact_logs/
fase5-velociraptor/velociraptor-config/server_artifacts/
fase5-velociraptor/velociraptor-config/clients/*/monitoring/
fase5-velociraptor/velociraptor-config/clients/*/monitoring_logs/
fase5-velociraptor/velociraptor-config/clients/*/tasks/
fase5-velociraptor/velociraptor-config/config/*.json.db
fase5-velociraptor/velociraptor-config/users/*/Notifications.json*

# KVM database
fase8-kvm/glkvm-cloud/docker-compose/database/*.db*